<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
	<meta charset="UTF-8">
	<title>Zipfian Capstone Project</title>

<style type="text/css">
   body {background-image: url("static/blue.jpg");}
   h2, td {color:white;}
   table {background-color:rgba(55, 55, 55, 0.55);
   			}
</style>

<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>

</head>
<body>
	<p><h2> Here are the top ten companies by {{ title }} : </h2></p>
<div class="bs-example">
	<table class="table">
		<thead>
			<col align="middle">
			<tr>
				<td><strong>Rank</strong></td>
				<td><strong>Company</strong></td>
			</tr>
		</thead>
		<tr>
			<td>1</td>
			<td>{{p1}}</td>
		</tr>
		<tr>
			<td>2</td>
			<td>{{p2}}</td>
		</tr>
		<tr>
			<td>3</td>
			<td>{{p3}}</td>
		</tr>
		<tr>
			<td>4</td>
			<td>{{p4}}</td>
		</tr>
		<tr>
			<td>5</td>
			<td>{{p5}}</td>
		</tr>
		<tr>
			<td>6</td>
			<td>{{p6}}</td>
		</tr>
		<tr>
			<td>7</td>
			<td>{{p7}}</td>
		</tr>
		<tr>
			<td>8</td>
			<td>{{p8}}</td>
		</tr>
		<tr>
			<td>9</td>
			<td>{{p9}}</td>
		</tr>
		<tr>
			<td>10</td>
			<td>{{p10}}</td>
		</tr>
	</table>
</div>	
	   <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>